---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
    <div class="w-full h-full flex items-center justify-center font-mono">
        <div class="bg-amber-200 dark:bg-amber-700 shadow p-10 rounded-xl drop-shadow-xl">
            <h1>Test content =></h1>
        </div>
    </div>
</BaseLayout>
