---
import Cloud from './cloud.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>miabread.github.io</title>
    </head>
    <body>
        <style>
            body {
                width: 100vw;
                height: 100vh;
                background: linear-gradient(165deg, #527785 0%, #527785 100%);
                padding: 1%;
                overflow: hidden;
                margin: 0;
            }
        </style>
        <Cloud top={-20} left={-20} seed={123} />
        <Cloud top={10} left={20} seed={4567} />
    </body>
</html>
