---
import 'normalize.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Miabread">
    <style>
        .glass {
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
            padding: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            color: white;
        }

        .main {
            margin: 2rem;
        }
    </style>
    <div class="glass main">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quibusdam necessitatibus repudiandae
            similique voluptates quisquam sunt quasi delectus unde vitae distinctio in non sit eos nulla minima
            temporibus, accusamus veniam? Eius nihil ab aspernatur quisquam consequuntur, ex, eaque exercitationem
            voluptatum cumque, accusamus dolorem totam molestias ratione sunt. Itaque, aliquam non.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus ipsum odit atque dolor quod laborum at
            distinctio labore itaque, deserunt fugit tenetur eum totam praesentium, aliquid eos velit ipsa tempore
            voluptatum magni nam non doloremque repudiandae. Quaerat quos voluptatem possimus, rerum deleniti minima
            cumque, autem non quidem fugiat voluptas maxime eum repudiandae! Impedit laboriosam molestias voluptas quo
            cum repellendus tempore ducimus quaerat eos qui tenetur quidem quas, pariatur facere, blanditiis architecto
            odit itaque nulla, laborum necessitatibus quam? Magni, expedita quibusdam voluptates recusandae quisquam
            aspernatur optio voluptatem quas, porro repellat dignissimos qui accusantium excepturi esse ab veritatis
            pariatur ipsa illum quam.
        </p>
        <p>
            Consequatur hic minus provident, autem ex vero culpa odio, molestias doloremque sapiente praesentium ab?
            Aliquam aperiam voluptatum quae doloremque veritatis odit neque dolore quam animi? Porro totam excepturi sit
            saepe maiores mollitia id vitae nihil ipsam quas ipsum laboriosam accusamus impedit, hic officia asperiores!
            Quaerat impedit optio ducimus, labore enim ipsa eaque deserunt aperiam quam delectus cum corporis eum
            tempore excepturi pariatur itaque totam, cumque animi nam? Laudantium inventore dicta nobis doloribus, quos
            fugiat a? Eos, perspiciatis voluptates nemo, minus libero voluptatum cupiditate eius blanditiis, velit fuga
            quasi harum. Assumenda, ea iste labore harum est dolore id sunt totam tempore?
        </p>
    </div>
</Layout>
