---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="bg-amber-200 shadow p-10">
            <h1>Test content</h1>
        </div>
    </div>
</Layout>
