---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout selected="Home">
    <div class="grid grid-cols-4 gap-10">
        {
            [...Array(20).keys()].map((i) => (
                <div class="w-40 h-40 p-5 rounded-xl drop-shadow-xl bg-pink-200 dark:bg-pink-400 dark:bg">
                    <h1>Test content => {i}</h1>
                </div>
            ))
        }
    </div>
</BaseLayout>
