---
import Sidebar from './sidebar/Sidebar.astro';
import '../global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>miabread.github.io</title>
        <script>
            import { updateTheme } from './sidebar/theme';
            updateTheme();
        </script>
    </head>
    <body class="text-black dark:text-white">
        <div class="flex">
            <aside class="h-screen sticky top-0 flex flex-col justify-center">
                <Sidebar />
            </aside>
            <main class="grow flex flex-col items-center">
                <nav class="w-1/2 flex justify-evenly mt-10">
                    {
                        ['Home', 'Projects', 'Blog'].map((title) => (
                            <h2
                                class:list={[
                                    'text-2xl bg-gray-200 dark:bg-gray-600 rounded-xl py-2 px-5 hover:underline mb-2 relative',
                                    title === 'Home' && 'rounded-b-none !mb-0',
                                ]}
                            >
                                {title}
                                {title === 'Home' && (
                                    <div class="bg-transparent absolute w-10 h-5 bottom-0 -left-10 rounded-br-2xl shadow-[25px_0_0_0] shadow-gray-200 dark:shadow-gray-600"/>
                                    <div class="bg-transparent absolute w-10 h-5 bottom-0 -right-10 rounded-bl-2xl shadow-[-25px_0_0_0] shadow-gray-200 dark:shadow-gray-600"/>
                                )}
                            </h2>
                        ))
                    }
                </nav>
                <slot />
            </main>
        </div>
    </body>
</html>
