---
import { Icon } from 'astro-icon/components';
---

<script>
    import { getTheme, setTheme } from '../scripts/theme';

    for (const theme of ['system', 'dark', 'light'] as const) {
        const button = document.getElementById(theme) as HTMLInputElement;
        button.addEventListener('click', () => setTheme(theme));
        if (theme === getTheme()) button.checked = true;
    }
</script>

<div>
    <div>
        <input type="radio" name="theme" id="system" value="system" />
        <label for="system">
            System
            <Icon name="mdi:theme-light-dark" width="24" height="24" class="inline" />
        </label>
    </div>
    <div>
        <input type="radio" name="theme" id="dark" value="dark" />
        <label for="dark">
            Dark
            <Icon name="mdi:weather-night" width="24" height="24" class="inline" />
        </label>
    </div>
    <div>
        <input type="radio" name="theme" id="light" value="light" />
        <label for="light">
            Light
            <Icon name="mdi:weather-sunny" width="24" height="24" class="inline" />
        </label>
    </div>
</div>
