---
import { getCollection } from 'astro:content';
import BaseLayout from '../../components/BaseLayout.astro';

const allProjects = await getCollection('projects');
---

<BaseLayout selected="Projects">
    <div class="flex flex-col gap-5">
        {
            allProjects.map((post) => (
                <div class="bg-gray-200 dark:bg-gray-600 p-5 rounded-xl">
                    <a href={`/projects/${post.id}`} class="text-xl font-bold hover:underline">
                        <h3>{post.data.title}</h3>
                    </a>
                    {post.data.summary}
                </div>
            ))
        }
    </div>
</BaseLayout>
