---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>miabread.github.io</title>
        <script>
            import { updateTheme } from '../scripts/theme';
            updateTheme();
        </script>
    </head>
    <body class="bg-white dark:bg-gray-800">
        <slot />
    </body>
</html>
