---
import 'normalize.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title} ~ Miabread`}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet" />
        <script src="../raytrace"></script>
    </head>
    <body>
        <svg aria-hidden="true" style="position: absolute; width: 0; height: 0;">
            <filter id="pixelate" x="0%" y="0%" width="100%" height="100%">
                <feComponentTransfer>
                    <feFuncR type="discrete" tableValues="0 0.2 0.4 0.6 0.8 1"></feFuncR>
                    <feFuncG type="discrete" tableValues="0 0.2 0.4 0.6 0.8 1"></feFuncG>
                    <feFuncB type="discrete" tableValues="0 0.2 0.4 0.6 0.8 1"></feFuncB>
                </feComponentTransfer>
            </filter>
        </svg>
        <style>
            html,
            body {
                font-family: 'Fira Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
                overflow-x: hidden;

                /* background: linear-gradient(
                    165deg,
                    #527785 0%,
                    #527785 60%,
                    #789dac 60%,
                    #789dac 70%,
                    #ffbd91 70%,
                    #ffbd91 80%,
                    #ff8d71 80%,
                    #ff8d71 95%,
                    #ff707e 95%,
                    #ff707e 100%
                ); */

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                image-rendering: pixelated;
                image-rendering: crisp-edges;
            }
        </style>
        <slot />
    </body>
</html>
